{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Prueba 2</h1>
    <ol>
        <li>Crear los modelos para carro y avión; ambos son del modelo abstracto vehículo. Ver el README dentro de la carpeta app/models/</li>
        <li>Crear una pantalla de creación. En un mismo formulario poder crear ya sea un carro o un avión</li>
        <li>Hacer una pantalla para listar los carros y los aviones (pueden ser dos listas distintas), con el botón para editar cada elemento</li>
        <li>Pantalla de edición ya sea del carro o del avión (Ya no se puede cambiar el tipo)</li>
        <li>APi para obtener la lista de alguno de los vehículos (el que quieran), debe filtrar por color, marca y si es nuevo</li>
        <li>Selenium, creación</li>
        <li>Pytest, creación</li>
    </ol>
</div>

{% endblock %}
